.homePage {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url("../../assets/basketball.png");
    background-size: cover;
    height: calc(70vh);
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
.title {
  position: absolute;
  font-size: 6vw;
  margin: 0;
  padding: 0;
  top: 40%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  white-space: nowrap;
  text-shadow: 0 0 20px black, 0 0 20px black;
}

.subtitle {
  color: white;
  font-size: 3vw;
  margin: 10px auto;
}